

<h2>Edit <%= @game.name %></h2>

<p>NOTE: Please take care to review game details for accuracy before editing!</p>

<p style="font-weight: bold;">Enter changes to <%= @game.name %> below:</p>

<form action="/games" method="post">

  <p>Game Title: <input type="text" name="name" placeholder="The full title of the game" value="<%= @game.name %>" ></p>
  <p>Game Summary: <input style="width: 300px;" type="text" name="summary" placeholder="A short summary of the game's themes" value="<%= @game.summary %>"></p>
  <p>Max Number of Players: <input type="number" name="max_players" placeholder="e.g. '6'" value="<%= @game.max_players %>"></p>
  <p>Play Time: <input type="text" name="play_time" placeholder="e.g. '30-90 minutes'" value="<%= @game.play_time %>"></p>
  <p>Year Published: <input type="text" name="year_published" placeholder="e.g. '2001'" value="<%= @game.year_published %>"></p>

  <h3>Publisher:</h3>
  <% Publisher.all.each do |publisher| %>
    <p><input type="radio" name="publisher_id" value="<%= publisher.id %>"> <%= publisher.name %> </p>
  <% end %>
  <p>Create New Publisher: <input type="text" name="new_publisher"></p>
  <p>Note: If an existing publisher is selected, the new publisher will not be created.</p>

  <h3>Genre(s):</h3>
  <p>Create New Genre: <input type="text" name="new_genre"></p>
  <p>Select Existing Genres:</p>
  <% Genre.all.each do |genre| %>
    <p><input type="checkbox" name="genres[]" value="<%= genre.id %>" > <%= genre.name %></p> 
  <% end %>

  <h3>Play Style(s):</h3>
  <p>Create New Play Style: <input type="text" name="new_type"></p>
  <p>Select Existing Play Styles:</p>
  <% Type.all.each do |type| %>
    <p><input type="checkbox" name="types[]" value="<%= type.id %>"> <%= type.name %> </p>
  <% end %>

  <input type="submit" value="Save Changes to <%= @game.name %>">

</form>